.container {
    display: grid;
    grid-template-columns: repeat(1fr, 4fr);
    gap: 20px;
    border: solid indigo 4px;
}

.header {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logo {
    justify-self: start;
}

.menu {
    align-self: center;
    border: solid green 4px;
}

.menu ul {
    display: grid;
    grid-template-columns: repeat(4 1fr)
}

.menu ul,
.menu li {
  list-style-type: none;
}