.container {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-rows: auto  10fr repeat(8, 1fr);
}

.sidebar {
    background-color: #34d399;
    grid-column: 1 / 3; 
    grid-row: 1 / -1;   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}


ul {
    grid-row-start: 1;
    list-style-type: none;
}

ul:nth-child(2) {
    grid-row-start: 2;
}

li {
    padding: 5px;
}

.header {

    grid-column: 3 / -1; 
    grid-row: 1;         
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.header input[type="text"] {
    border: 2px solid #007bff; 
    border-radius: 25px;
    padding: 10px 20px; 
    width: 500px; 
    outline: none; 
    margin-right: 10px; 
}


.button {
    border: none;              
    background-color: #007bff; 
    color: white;              
    padding: 10px 20px;        
    border-radius: 50px;      
    cursor: pointer;           
    transition: background-color 0.3s; 
}

.button:hover {
    background-color: #0056b3; 
}
.header-group-1 {
    grid-column: 1;
    display: flex;
    align-items: center; 
}

.header-group-2 {
    grid-column: 2;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}

.header-group-3 {
    display: grid;
    grid-template-rows: repeat(2, 30px);
    grid-template-columns: repeat(2, 100px);
    padding: 25px;
  
}

.header-group-3 > img {
    grid-row: 1 / 2;
    grid-column-start: 1;
   
}
.header-group-3 > p {
    grid-column-start: 2;
    align-self: center;
    grid-row: span 1;
}
.header-group-4 {
grid-column: 2;
display: flex;
align-items: center;
justify-content: space-evenly;

}

.text-size-small {
    font-size: small;
    font-weight: bold;
    padding-bottom: 15px;
}

.text-size-normal {
    font-size: large;
    font-weight: bold;
}



.profile-img {
    width: 40px;               
    height: 40px;            
    border-radius: 50%;       
    object-fit: cover;        
    margin-right: 10px;       
}


.profile-img-bigger {
    width: 80px;               
    height: 80px;     
    border-radius: 50%;       
    object-fit: cover;         
    margin-right: 10px;      
}



.icon {
    width: 24px; 
    height: 24px; 
    vertical-align: middle; 
    margin-right: 8px;
}

.content {
   BACKGROUND: #d1d5db;
    grid-column: 3;      
    grid-row: 2 / -1;    
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr;
    grid-template-rows: repeat(3 400pxpx);
    gap: 20px;
}

.project-column {
    grid-column: 1 / span 2;
    grid-row: 1 /  3;
}

.project-column-two {
    grid-column-start: 2;
    grid-row-start: 1;
}

.shoutout {
    grid-column-start: 3;
    grid-row-start: 1 / 2;
}

.trending {
    grid-column-start: 3;
    grid-row-start: 2;
}

.card {
    background-color: #fff;      
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;                
    margin: 20px;                   
    width: 300px;                   
}

.card-title {
    font-size: 1.5em;             
    margin: 0;           
}

.card-content {
    font-size: 1em;                 
    color: #555;                   
}

